<md-menu-content>
    <md-menu-item>
        <md-button ui-sref-active="selected" ui-sref="flows">Flows</md-button>
    </md-menu-item>
</md-menu-content>

<md-subheader class="md-no-sticky">Team</md-subheader>
<md-menu-content>
    <md-menu-item><md-button>Users</md-button></md-menu-item>
    <md-menu-item><md-button>Clusters</md-button></md-menu-item>
    <md-menu-item><md-button>Registries</md-button></md-menu-item>
    <md-menu-item><md-button>GitHub tokens</md-button></md-menu-item>
</md-menu-content>
