<md-menu-content>
    <md-menu-item>
        <md-button ui-sref-active="selected" ui-sref="flows"><md-icon>sync</md-icon> Flows</md-button>
    </md-menu-item>
</md-menu-content>

<md-subheader class="md-no-sticky">Team</md-subheader>
<md-menu-content>
    <md-menu-item><md-button ui-sref-active="selected" ui-sref="users"><md-icon>group</md-icon> Users</md-button></md-menu-item>
    <md-menu-item><md-button ui-sref-active="selected" ui-sref="clusters"><md-icon>cloud</md-icon> Clusters</md-button></md-menu-item>
    <md-menu-item><md-button ui-sref-active="selected" ui-sref="registry-credentials"><md-icon>storage</md-icon> Registries</md-button></md-menu-item>
    <md-menu-item><md-button ui-sref-active="selected" ui-sref="github-tokens"><md-icon>fingerprint</md-icon> GitHub tokens</md-button></md-menu-item>
    <md-menu-item><md-button ui-sref-active="selected" ui-sref="configuration"><md-icon>build</md-icon> Configuration</md-button></md-menu-item>
</md-menu-content>