<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span ng-show="tides">{{ tides.length }} tides</span>
            <span ng-hide="tides">Loading...</span>
        </h2>
        <span flex></span>
        <md-button class="md-raised" aria-label="Start manually">Start manually</md-button>
    </div>
</md-toolbar>
<md-content flex id="content">
    <remote-resource resource-name="tides">
        <table class="table hover">
            <thead>
            <tr>
                <th>UUID</th>
                <th>Code reference</th>
                <th>Creation date</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tide in tides" ui-sref="tide.logs({tideUuid: tide.uuid})">
                <td>{{ tide.uuid }}</td>
                <td>{{ tide.code_reference.branch }} <small>({{ tide.code_reference.sha1 }})</small></td>
                <td>{{ tide.creation_date | date:'dd/MM/yyyy hh:mm:ss' }}</td>
                <td ng-class="{'c-green': tide.status == 'success', 'c-red': tide.status == 'failure', 'c-blue': tide.status === 'running'}">{{ tide.status }}</td>
            </tr>
            </tbody>
        </table>
    </remote-resource>
</md-content>
