// Colors
$success-color: #64ad03;
$pending-color: #2979ca;
$failure-color: #d61341;

// Layout
$text-rounds-radius: 20px;

.log-container {
    .children {
        padding-top: 10px;
        padding-left: 25px;
    }

    .log {
        &.type-raw {
            pre {
                background: #002b36;
                color: #839496;
            }
        }

        &.type-text {
            div.content {
                div.counter {
                    float: right;
                }

                i.round {
                    display: inline-block;
                    width: $text-rounds-radius;
                    height: $text-rounds-radius;
                    border-radius: ($text-rounds-radius / 2);
                    background-color: $pending-color;
                    vertical-align: middle;
                }
            }

            .children {
                padding-left: 20px;
                margin-left: $text-rounds-radius / 2;
                border-left: 1px solid $pending-color;
            }

            &.status-success {
                div.content i.round {
                    background-color: $success-color;
                }

                .children {
                    border-left-color: $success-color;
                }
            }

            &.status-failure {
                div.content i.round {
                    background-color: $failure-color;
                }

                .children {
                    border-left-color: $failure-color;
                }
            }
        }
    }
}
