.article .data {
    text-align: left;
}

.header {
    /* overwrites inherited style */
    overflow: initial !important;
}

.ds-suggestions {
    /* increase algolia font-size */
    font-size: 1.5em;
}

@media only screen and (max-width: 768px) {
    .ds-dropdown-menu {
        position: fixed !important;
        max-width: initial !important;
        min-width: 100% !important;
    }
}

main.main article.article div.wrapper {
    padding-top: 80px;
}
main.main article.article div.wrapper h1 {
    padding-bottom: 10px;
}

main.main nav div.wrapper div.toc ul > a {
    color: rgba(0, 0, 0, 0.870588);    
}

main.main nav div.wrapper div.toc ul > li > ul:not(.current) {
    display: none;
}
