.article .data {
    text-align: left;
}

.header {
    /* overwrites inherited style */
    overflow: initial !important;
}

.ds-suggestions {
    /* increase algolia font-size */
    font-size: 1.5em;
}

@media only screen and (max-width: 768px) {
    .ds-dropdown-menu {
        position: fixed !important;
        max-width: initial !important;
        min-width: 100% !important;
    }
}

header.header nav {
    height: 56px;
}
.bar.search {
    transform: translate3d(0,-112px,0);
}

main.main article.article div.wrapper {
    padding: 80px 16px 132px
}
main.main article.article div.wrapper h1 {
    padding-bottom: 10px;
}

main.main nav div.wrapper div.toc ul > a {
    color: rgba(0, 0, 0, 0.870588);    
}

main.main nav div.wrapper div.toc ul > li > ul:not(.current) {
    display: none;
}

.highlight pre, .article pre {
    margin-left: 0;
    margin-right: 0;
}

.article code.hljs {
    /* overwrites highlight js style */
    background: none !important;    
}

.highlight pre {
    color: #FFF;
}

