.article .data {
    text-align: left;
}

.header {
    /* overwrites inherited style */
    overflow: initial !important;
}

.ds-suggestions {
    /* increase algolia font-size */
    font-size: 1.5em;
}

@media only screen and (max-width: 768px) {
    .ds-dropdown-menu {
        position: fixed !important;
        max-width: initial !important;
        min-width: 100% !important;
    }
}