server {
    listen 80;

    root /app/web;
    index index.html;

    server_name localhost;

    location / {
        try_files $uri @rewriteapp;
    }

    location @rewriteapp {
        rewrite ^(.*)$ /app.php/$1 last;
    }

    location ~ \.php(/|$) {
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_read_timeout 300;

        fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
        fastcgi_param PATH_INFO $fastcgi_path_info;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param HTTPS $https;
        fastcgi_param HTTP_PROXY "";

        fastcgi_pass unix:///var/run/php7.0-fpm.sock;
    }

    error_log /dev/stderr info;
    access_log /dev/stdout;
}
