server {
    listen 80;

    server_name localhost;

    include /etc/nginx/app.conf;
}

server {
    listen  443;
    server_name localhost;

    ssl on;

    ssl_certificate      /usr/local/certs/server.crt;
    ssl_certificate_key  /usr/local/certs/server.key;
    ssl_client_certificate /usr/local/certs/ca.crt;
    ssl_verify_client optional;

    include /etc/nginx/app.conf;
}
