<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>Billing profile "{{ billingProfile.name }}"</h2>
    </div>
</md-toolbar>
<md-content class="md-padding" flex>
    <div flex-xs layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Tides usage</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div ng-if="billingProfile.teams.length > 0" google-chart chart="tidesGraph" style="height:450px; width:100%;"></div>
                    <p ng-if="!billingProfile.teams.length">Connect this billing profile to projects to see the usage here.</p>
                </md-card-content>
            </md-card>
        </div>

        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Resources usage (GB of memory)</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div ng-if="billingProfile.teams.length > 0" google-chart chart="resourcesGraph" style="height:450px; width:100%;"></div>
                    <p ng-if="!billingProfile.teams.length">Connect this billing profile to projects to see the usage here.</p>
                </md-card-content>
            </md-card>
        </div>
    </div>

    <div flex-xs layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Your plan</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content ng-if="!billingProfile.plan">
                    <p>You don't have any plan for now, select one!</p>
                </md-card-content>
                <md-card-content ng-if="billingProfile.plan">
                    <table>
                        <tbody>
                            <tr>
                                <th>Plan name</th>
                                <td>{{ billingProfile.plan.name }}</td>
                            </tr>
                            <tr>
                                <th>Monthly price</th>
                                <td>£{{ billingProfile.plan.price }}</td>
                            </tr>
                            <tr class="separator"></tr>
                            <tr>
                                <th>Available tides</th>
                                <td>{{ billingProfile.plan.metrics.tides }}</td>
                            </tr>
                            <tr>
                                <th>Available memory</th>
                                <td>{{ billingProfile.plan.metrics.memory }} GB</td>
                            </tr>
                            <tr>
                                <th>Available storage</th>
                                <td>{{ billingProfile.plan.metrics.storage }} GB</td>
                            </tr>
                            <tr>
                                <th>Available private Docker image</th>
                                <td>{{ billingProfile.plan.metrics.docker_image }}</td>
                            </tr>
                            <tr class="separator"></tr>
                            <tr>
                                <th>Teams linked</th>
                                <td>
                                    <span ng-if="!billingProfile.teams.length">No team</span>
                                    <md-chips ng-if="billingProfile.teams.length">
                                        <md-chip ng-repeat="team in billingProfile.teams">{{ team.name }}</md-chip>
                                    </md-chips>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-card-content>
                <md-card-actions>
                    <div layout-gt-xs="row">
                        <md-button class="md-raised" ng-click="change($event)">Change</md-button>
                        <span flex />
                        <md-button ng-if="billingProfile.invoices_url" ng-href="{{ billingProfile.invoices_url }}">Invoices</md-button>
                    </div>
                </md-card-actions>
            </md-card>
        </div>

        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Admins</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-list>
                        <md-list-item ng-repeat="admin in billingProfile.admins">
                            <md-icon>person</md-icon>
                            <p>{{ admin.username }}</p>
                            <md-button ng-click="removeAdmin(admin)">
                                <md-icon>delete</md-icon>
                            </md-button>
                        </md-list-item>
                    </md-list>
                </md-card-content>
                <md-card-actions>
                    <form name="addAdminForm">
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Username</label>
                                <input ng-model="newAdminUsername" required />
                            </md-input-container>
                            <md-input-container class="md-block">
                                <md-button class="md-raised" aria-label="Add" ng-disabled="addAdminForm.$invalid || isLoading" ng-click="addAdmin(newAdminUsername)">
                                    <md-progress-circular md-mode="indeterminate" md-diameter="20px" ng-show="isLoading"></md-progress-circular>
                                    Add
                                </md-button>
                            </md-input-container>
                        </div>
                    </form>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</md-content>
