<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>Billing profile "{{ billingProfile.name }}"</h2>
    </div>
</md-toolbar>
<md-content class="md-padding" flex>
    <div flex-xs layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Tides usage</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div google-chart chart="tidesGraph" style="height:450px; width:100%;"></div>
                </md-card-content>
            </md-card>
        </div>

        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Resources usage (GB of memory)</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div google-chart chart="resourcesGraph" style="height:450px; width:100%;"></div>
                </md-card-content>
            </md-card>
        </div>
    </div>

    <div flex-xs layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Your plan</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    Details about the plan
                </md-card-content>
            </md-card>
        </div>

        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Admins</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-list>
                        <md-list-item ng-repeat="admin in billingProfile.admins">
                            <md-icon>person</md-icon>
                            <p>{{ admin.username }}</p>
                            <md-button ng-click="removeAdmin(admin)">
                                <md-icon>delete</md-icon>
                            </md-button>
                        </md-list-item>
                    </md-list>
                </md-card-content>
                <md-card-actions>
                    <form name="addAdminForm">
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Username</label>
                                <input ng-model="newAdminUsername" required />
                            </md-input-container>
                            <md-input-container class="md-block">
                                <md-button class="md-raised" aria-label="Add" ng-disabled="addAdminForm.$invalid || isLoading" ng-click="addAdmin(newAdminUsername)">
                                    <md-progress-circular md-mode="indeterminate" md-diameter="20px" ng-show="isLoading"></md-progress-circular>
                                    Add
                                </md-button>
                            </md-input-container>
                        </div>
                    </form>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</md-content>
