<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span>Pipelines</span>
        </h2>
    </div>
</md-toolbar>
<md-content flex id="content">
    <remote-resource resource-name="tides">
        <div class="cp-pipeline-content" ng-show="tides.length">
            <div  class= "cp-pipeline_flex" ng-repeat="tide in tides | orderBy: '-creation_date'">
                <div class="cp-pipeline_flex-item --tide">
                    <p ng-class="'status-'+task.status" class="cp-pipeline-title --tide"><strong>Tide #{{ tide.uuid }}</strong></p>
                    <p><code>{{ tide.code_reference.branch }}</code> (<code>{{ tide.code_reference.sha1 }}</code>)</p>
                    <p><em>{{ tide.creation_date | timeAgo }}</em></p>
                    <p>{{ tide.status }}</p>
                </div>
                <div ng-repeat="task in tide.tasks"  class="cp-pipeline_flex-item --task">
                  <div class="cp-pipeline-item_content">
                    <h3 ng-class="'status-'+task.status" class="cp-pipeline-title --task">{{ task.label }}</h3>
                    <p>{{ task.status }}</p>
                    <md-icon>playlist_play</md-icon>
                  </div>
                </div>
            </div>
        </table>
    </remote-resource>
</md-content>
