<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <service id="river.event_store.in_memory" class="ContinuousPipe\River\Infrastructure\InMemory\InMemoryEventStore" />

        <service id="river.event_bus.middleware.tide_event_store" class="ContinuousPipe\River\EventBus\TideEventStoreMiddleware">
            <argument type="service" id="river.event_store.in_memory" />

            <tag name="event_bus_middleware" />
        </service>
    </services>
</container>
