<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <service id="river.tide_event_store.doctrine" class="ContinuousPipe\River\Infrastructure\Doctrine\DoctrineEventStore">
            <argument type="service" id="doctrine.orm.entity_manager" />
            <argument type="service" id="river.time_resolver" />
        </service>
        <service id="river.tide_event_store" alias="river.tide_event_store.doctrine" />

        <service id="river.event_bus.middleware.tide_event_store" class="ContinuousPipe\River\EventBus\TideEventStoreMiddleware">
            <argument type="service" id="river.tide_event_store" />

            <tag name="event_bus_middleware" priority="10" />
        </service>

        <service id="river.event_bus.middleware.user_activity_context_data_collector" class="ContinuousPipe\River\EventBus\UserActivityContextDataCollectorMiddleware" public="false">
            <argument type="service" id="river.repository.flow.event_based" />
            <argument type="service" id="river.view.tide_repository" />

            <tag name="command_bus_middleware" priority="1000" />
        </service>

        <service id="river.event_bus.finishes_message_before_handling_next_middleware" class="ContinuousPipe\River\EventBus\FinishesHandlingMessageBeforeHandlingNext">
            <tag name="event_bus_middleware" priority="1000" />
            <tag name="command_bus_middleware" priority="1000" />
        </service>
    </services>
</container>
