## Welcome in the configuration of ContinuousPipe
#
#~ Please run the `bin/start` command.
#~ This file is the template for the environment configuration. It contains metadata and details on each of the
#~ variables. It is not intended to read by humans.

## GitHub
# In order to be able to login with GitHub and access the repositories, you need to create a GitHub Application.
#
#~+github-oauth(GITHUB_CLIENT_ID GITHUB_CLIENT_SECRET)
#~+github-integration(GITHUB_INTEGRATION_ID GITHUB_INTEGRATION_KEY_NAME GITHUB_SECRET)
#+file-to-propagate(GITHUB_INTEGRATION_PRIVATE_KEY_PATH)
#
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_INTEGRATION_ID=
GITHUB_INTEGRATION_SLUG=
GITHUB_SECRET=

#~ Note: Do not change this path. It needs to stay what it is.
GITHUB_INTEGRATION_PRIVATE_KEY_PATH=./runtime/keys/github.pem

## Realtime logs
# In order to present realtime logs of your builds, ContinuousPipe uses Firebase.
#
#+file-to-propagate(FIREBASE_SERVICE_ACCOUNT_PATH)
#
FIREBASE_APP=
FIREBASE_WEB_API_KEY=

#~ Note: Do not change this path. It needs to stay what it is.
FIREBASE_SERVICE_ACCOUNT_PATH=./runtime/keys/firebase.json

## Docker images
# How to build the docker image. There are two engines at the moment: "gcb" (recommended, Google Container Builder)
# and "docker" for the local docker deamon.
BUILDER_DEFAULT_ENGINE=docker

## How do you access your ContinuousPipe instance?
# Configure the URLs and ways you will access ContinuousPipe.
RIVER_API_URL=http://localhost:81

## Security
# We need a password, a master key and a few certificates. We'll generate them for you or... you'll enter them :)
#
#+rsa-pair(JWT_PRIVATE_KEY_PATH JWT_PUBLIC_KEY_PATH JWT_PRIVATE_KEY_PASS_PHRASE)
#+file-to-propagate(JWT_PRIVATE_KEY_PATH)
#+file-to-propagate(JWT_PUBLIC_KEY_PATH)
#
ADMIN_PASSWORD=djeu7e9zNehjzNie9
MASTER_API_KEY=1234567890qwerty

#~ Note: Do not change these path values. They need to stay what they are.
JWT_PRIVATE_KEY_PATH=./runtime/keys/jwt-private.pem
JWT_PUBLIC_KEY_PATH=./runtime/keys/jwt-public.pem
JWT_PRIVATE_KEY_PASS_PHRASE=

## Automated cluster
# If you want to give the ability to users to directly use a cluster they did not configure. It's typically good
# for organisations or testing ContinuousPipe locally.
AUTOMATED_CLUSTER_ENABLED=true
AUTOMATED_CLUSTER_ADDRESS=https://docker.for.mac.host.internal:6443
AUTOMATED_CLUSTER_CREDENTIALS=from-kube-config:var/kube-config(docker-for-desktop)

## Support & Feedback
# If you would like to allow your users to get some support from you, give you some feedback and this
# sort of things, select the integrations you'd like.
INTERCOM_ENABLED=false
INTERCOM_APPLICATION_ID=none

STATIS_METER_ENABLED=false
STATIS_METER_WRITE_KEY=none

GOOGLE_ANALYTICS_TRACKER=none
API_SENTRY_DSN=
UI_SENTRY_DSN=

## Billing
BILLING_ENABLED=false
