# GitHub
# In order to be able to login with GitHub, you need to create a GitHub application. To get access to the code
# repositories, you need to create a GitHub integration.

## OAuth application
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

## GitHub integration
GITHUB_INTEGRATION_ID=
GITHUB_INTEGRATION_KEY_NAME=
GITHUB_SECRET=

# URLs of APIs
RIVER_API_URL=http://localhost:81

# Support & Feedback
INTERCOM_ENABLED=false
INTERCOM_APPLICATION_ID=none

STATIS_METER_ENABLED=false
STATIS_METER_WRITE_KEY=none
