@font-face {
    font-family: 'cp';
    src:  url('../fonts/cp.eot?5ke6e7');
    src:  url('../fonts/cp.eot?5ke6e7#iefix') format('embedded-opentype'),
    url('../fonts/cp.ttf?5ke6e7') format('truetype'),
    url('../fonts/cp.woff?5ke6e7') format('woff'),
    url('../fonts/cp.svg?5ke6e7#cp') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="cp-icon-"], [class*=" cp-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'cp' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cp-icon-bitbucket:before {
    content: "\e900";
}
.cp-icon-logo:before {
    content: "\e901";
}
.cp-icon-github:before {
    content: "\e902";
}
.cp-icon-git-branch:before {
    content: "\e903";
}
.cp-icon-arrow-right-up:before {
    content: "\e904";
}
.cp-icon-commit:before {
    content: "\e905";
}
.cp-icon-google:before {
    content: "\ea8a";
}
