{% extends "::layout.html.twig" %}
{% block content %}
    <div class="account-container">
        <div class="account-title">
            <div class="container">
                {% block account_title %}
                <h1>My Account</h1>
                {% endblock %}
            </div>
            <div class="container account-nav">
                <ul class="nav nav-tabs">
                    <li role="presentation"{% block nav_personnal_information_class %}{% endblock %}><a href="{{ path('account') }}">Personal information</a></li>
                    <li role="presentation"{% block nav_connected_accounts_class %}{% endblock %}><a href="{{ path('account_connected_accounts') }}">Connected accounts</a></li>
                    <li role="presentation"{% block nav_billing_profile_class %}{% endblock %}><a href="{{ path('account_billing_profiles') }}">Billing</a></li>
                    <li role="presentation"{% block nav_api_class %}{% endblock %}><a href="{{ path('account_api_keys') }}">API keys</a></li>
                </ul>
            </div>
        </div>
        <div class="account-content container">
            {% block account_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
