<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span>{{ team.memberships.length }} users</span>
        </h2>
        <span flex></span>
        <md-button class="md-raised" aria-label="Add a user" ui-sref="users.add">Add</md-button>
    </div>
</md-toolbar>
<md-content flex id="content">
    <table class="table hover">
        <thead>
        <tr>
            <th>Username</th>
            <th>Permissions</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="membership in team.memberships">
            <td>{{ membership.user.username }}</td>
            <td>{{ membership.permissions | join:', ' }}</td>
            <td>
                <md-button ng-click="removeMembership(membership)" class="md-icon-button"><i class="material-icons">delete</i></md-button>
            </td>
        </tr>
        </tbody>
    </table>
</md-content>
