{% extends "HWIOAuthBundle::layout.html.twig" %}
{% block html_attributes %} class="login"{% endblock %}
{% block body %}
<div class="login-container">
    <p><i class="icon cp-icon-logo"></i></p>

    <h3>Connecting an account</h3>
    <form action="{{ path('hwi_oauth_connect_service', {'service': service, 'key': key}) }}" method="POST" class="fos_user_registration_register">
        {{ form_widget(form) }}
        <p>{{ 'connect.confirm.text' | trans({'%service%': service | trans({}, 'HWIOAuthBundle'), '%name%': userInformation.realName}, 'HWIOAuthBundle') }}</p>

        <button type="submit" class="btn btn-success">Yes, connect</button>
    </form>
</div>
{% endblock %}

