<div class="container">
    <div class="block-header">
        <h2>Configuration of the flow</h2>
    </div>

    <p>The configuration of each tide is both based on the content of the `continuous-pipe.yml` file at the root of
        your repository and this flow-wide configuration. The content of the file will be merged in this wide configuration
        and will replace the conflicting fields.
    </p>
    <p><strong>Note:</strong> we strongly recommend to configure everything that can be shared with all the persons
        that have access to the repository in the `continuous-pipe.yml` file. By the way, you can still use this UI
        to create a YML file to put in your repository.
    </p>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header ch-alt">
                    <h2>Raw YML configuration</h2>
                </div>

                <div class="yaml-editor" ui-ace="aceOption" ng-model="flow.yml_configuration"></div>
                <div class="yaml-editor-buttons">
                    <button class="btn btn-primary" ng-click="update()" ng-disabled="isLoading" ng-class="{'btn-success': successMessage}">
                        <span ng-show="successMessage">{{ successMessage }}</span>
                        <span ng-hide="successMessage">Update</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header ch-alt">
                    <h2>Configuration helper</h2>
                </div>

                <div class="table-response" ng-show="availableTasks.length">
                    <ul class="tasks" dnd-list="availableTasks">
                        <li ng-repeat="(i, task) in availableTasks track by i">
                            <div ng-include="'flow/views/creation/task-'+task.name+'.html'"></div>
                            <div>
                                <button class="btn btn-success pull-right" ng-click="addTask($index)">Add</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
