<div class="container">
    <div class="block-header">
        <h2>1. Select the GitHub repository</h2>

        <remote-resource resource-name="repositorySources">
            <div class="bootgrid-header">
                <tabset>
                    <tab ng-repeat="source in repositorySources" heading="{{ source.organization.login }}" select="switchRepositorySource(source.organization)">
                        <remote-resource resource-name="repositories">
                            <div class="text-center p20" ng-show="repositories.length === 0">No repository found.</div>
                            <div class="bootgrid-header">
                                <div class="actionBar">
                                    <div class="search form-group">
                                        <div class="input-group">
                                            <span class="md icon input-group-addon glyphicon-search"></span>
                                            <input type="text" class="search-field form-control" placeholder="Search" ng-model="search.$">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <table class="table table-inner table-vmiddle" ng-show="repositories.length">
                                <thead>
                                <tr>
                                    <th>Owner</th>
                                    <th>Name</th>
                                    <th>Visibility</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr ng-repeat="repository in repositories | filter:search" ng-hide="selectedRepository && repository != selectedRepository">
                                    <td>{{ repository.repository.owner.login }}</td>
                                    <td>{{ repository.repository.name }}</td>
                                    <td>
                                        <span ng-if="repository.repository.private"><i class="md-lock"></i> Private</span>
                                        <span ng-if="!repository.repository.private"><i class="md-public"></i> Public</span>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" ng-click="select(repository)" ng-show="selectedRepository != repository">Select</button>
                                        <button class="btn btn-success" ng-show="selectedRepository == repository" ng-click="select(undefined)">Selected</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </remote-resource>
                    </tab>
                </tabset>
            </div>
        </remote-resource>
    </div>

    <div class="block-header" ng-if="selectedRepository">
        <h2>2. Select the task for your flow</h2>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2>Available tasks<small>Move these tasks to right to enable them in your flow.</small></h2>
                    </div>
                    <div class="table-response">
                        <table class="table table-striped">
                            <tbody>
                            <tr ng-repeat="(i, task) in availableTasks">
                                <td><strong>{{ task.name }}</strong></td>
                                <td>{{ task.description }}</td>
                                <td>
                                    <button class="btn btn-primary" ng-click="addTask(i)">Add</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2>Selected tasks</h2>
                    </div>
                    <div class="table-response" ng-show="selectedTasks.length">
                        <table class="table table-striped">
                            <tbody>
                            <tr ng-repeat="(i, task) in selectedTasks">
                                <td><strong>{{ task.name }}</strong></td>
                                <td>
                                    <p>{{ task.description }}</p>
                                    <form ng-show="task.context">
                                        <div class="form-group fg-line" ng-repeat="(key, value) in task.context">
                                            <label>{{ key }}</label>
                                            <input type="text" class="form-control input-sm" ng-model="task.context[key]" />
                                        </div>
                                    </form>
                                </td>
                                <td>
                                    <button class="btn btn-danger" ng-click="removeTask(i)">Remove</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-primary" ng-click="finish()">Finish</button>
    </div>
</div>
