<div class="container">
    <div class="block-header">
        <h2>1. Select the GitHub repository</h2>

        <remote-resource resource-name="organisations">
            <div class="bootgrid-header">
                <ul class="nav nav-pills">
                    <li role="presentation" ng-class="{active: selectedSource === ''}">
                        <a href="#" ng-click="selectPersonal()">Personal repositories</a>
                    </li>
                    <li role="presentation" ng-class="{active: selectedSource === organisation.organisation.login}" ng-repeat="organisation in organisations">
                        <a href="#" ng-click="selectOrganisation(organisation.organisation.login)">{{ organisation.organisation.login }}</a>
                    </li>
                </ul>
            </div>
        </remote-resource>

        <remote-resource resource-name="repositories">
            <div class="text-center p20" ng-show="repositories.length === 0">No repository found.</div>
            <div class="bootgrid-header">
                <div class="actionBar">
                    <div class="search form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="md md-search"></i>
                            </span>
                            <input type="text" class="search-field form-control" placeholder="Search" ng-model="search.$">
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-inner table-vmiddle" ng-show="repositories.length">
                <thead>
                <tr>
                    <th>Owner</th>
                    <th>Name</th>
                    <th>Visibility</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="repository in repositories | filter:search" ng-hide="selectedRepository && repository != selectedRepository">
                    <td>{{ repository.repository.owner.login }}</td>
                    <td>{{ repository.repository.name }}</td>
                    <td>
                        <span ng-if="repository.repository.private"><i class="md-lock"></i> Private</span>
                        <span ng-if="!repository.repository.private"><i class="md-public"></i> Public</span>
                    </td>
                    <td>
                        <button class="btn btn-primary" ng-click="select(repository)" ng-show="selectedRepository != repository">Select</button>
                        <button class="btn btn-success" ng-show="selectedRepository == repository" ng-click="select(undefined)">Selected</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </remote-resource>

        <button class="btn btn-primary" ng-disabled="!selectedRepository" ng-click="create()">Create</button>
    </div>
</div>
