<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span>Dashboard</span>
        </h2>
        <span flex></span>
        <md-button class="md-raised" aria-label="Start manually" ui-sref="flow.create-tide"><md-icon>play_arrow</md-icon> Start manually</md-button>
    </div>
</md-toolbar>
<md-content flex id="content">
    <md-card class="pipeline-card" ng-repeat="pipeline in pipelines" ng-class="['status-'+pipeline.lastTides[0].status]">
        <md-card-title>
          <md-card-title-text layout="row">
            <span class="md-headline">{{ pipeline.name }}</span>
            <span flex></span>
            <span>{{ pipeline.lastTides[0].creation_date | timeAgo }}</span>
          </md-card-title-text>
        </md-card-title>    
        <md-card-content layout="row">
            <span>
                <span class="status-text" ng-class="['status-'+pipeline.lastTides[0].status]">{{ pipeline.lastTides[0].status }}</span> 
                |
                <i class="cp-icon-git-branch"></i> {{ pipeline.lastTides[0].code_reference.branch }}
            </span>
            <span flex></span>
            <span class="task-list">
                <span class="task" ng-repeat="task in pipeline.lastTides[0].tasks" ng-class="['status-'+task.status]">
                    <md-tooltip md-direction="bottom">{{ task.label }} ({{ task.status }})</md-tooltip>
                </span>
            </span>
        </md-card-content>
    </md-card>

    <h2>Last 10 tides</h2>
    <ul class="tide-list">
        <li ng-repeat="tide in tides | orderBy: '-creation_date'" ng-class="['status-'+tide.status]">
            <a ui-sref="tide.logs({tideUuid: tide.uuid})">
                <div class="tide-status status-text" ng-class="['status-'+tide.status]">{{ tide.status }}</div>
                <div class="tide-source"><i class="cp-icon-git-branch"></i> <code>{{ tide.code_reference.branch }}</code></div>
                <div class="tide-tasks">
                    <span class="task-list">
                        <span class="task" ng-repeat="task in tide.tasks" ng-class="['status-'+task.status]">
                            <md-tooltip md-direction="bottom">{{ task.label }} ({{ task.status }})</md-tooltip>
                        </span>
                    </span>
                </div>
                <div class="tide-creation-date">{{ tide.creation_date | timeAgo }}</div>
            </a>
        </li>
    </ul>
</md-content>
