<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header ch-alt">
                    <h2>Flow</h2>
                </div>

                <table class="table table-inner table-vmiddle">
                    <thead>
                    <tr>
                        <th>Repository</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <a ng-href="{{ flow.repository.repository.url }}" target="_blank" class="pull-right">Open in GitHub</a>
                            <small>{{ flow.repository.repository.owner.login }}/</small> {{ flow.repository.repository.name }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header ch-alt">
                    <h2>Deployed environments</h2>
                </div>

                <remote-resource resource-name="environments">
                    <table class="table table-inner table-vmiddle">
                        <thead>
                        <tr>
                            <th width="20"></th>
                            <th>Name</th>
                            <th></th>
                            <th># of components</th>
                        </tr>
                        </thead>
                        <tbody ng-hide="environments.length">
                        <tr>
                            <td colspan="4">No deployed environment found.</td>
                        </tr>
                        </tbody>
                        <tbody ng-repeat="environment in environments">
                        <tr class="bgm-alt">
                            <td width="20">
                                <ul class="actions">
                                    <li>
                                        <a ng-click="environment.showComponents = !environment.showComponents" href="javascript:;">
                                            <i ng-class="{'md-expand-more': environment.showComponents, 'md-chevron-right': !environment.showComponents}" class="md"></i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                            <td colspan="2">
                                <strong>{{ environment.name }}</strong>
                            </td>
                            <td>{{ environment.components.length }}</td>
                        </tr>
                        <tr ng-repeat="component in environment.components" ng-show="environment.showComponents">
                            <td width="20"></td>
                            <td>
                                <strong>{{ component.name }}</strong>
                            </td>
                            <td>
                                <ul ng-show="component.status.public_endpoints.length" class="m-0 p-l-10">
                                    <li ng-repeat="endpoint in component.status.public_endpoints">
                                        <a href="http://{{ endpoint }}">{{ endpoint }}</a>
                                    </li>
                                </ul>
                                <span ng-hide="component.status.public_endpoints.length">No endpoint.</span>
                            </td>
                            <td>
                                <span ng-class="{'c-green': component.status.status == 'healthy', 'c-red': component.status.status == 'unhealthy', 'c-blue': component.status.status === 'unknown'}">{{ component.status.status }}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </remote-resource>
            </div>
        </div>
    </div>

    <div class="block-header">
        <h2>Tides</h2>
    </div>

    <div class="row">
        <remote-resource resource-name="tides">
            <div class="text-center p20" ng-show="tides.length === 0">No tides ran yet. Try to push to your repository.</div>
            <table class="table table-inner table-vmiddle" ng-show="tides.length">
                <thead>
                <tr>
                    <th>UUID</th>
                    <th>Code reference</th>
                    <th>Creation date</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="tide in tides">
                    <td>{{ tide.uuid }}</td>
                    <td>{{ tide.code_reference.branch }} <small>({{ tide.code_reference.sha1 }})</small></td>
                    <td>{{ tide.creation_date | date:'dd/MM/yyyy hh:mm:ss' }}</td>
                    <td ng-class="{'c-green': tide.status == 'success', 'c-red': tide.status == 'failure', 'c-blue': tide.status === 'running'}">{{ tide.status }}</td>
                    <td><a ui-sref="tide.logs({tideUuid: tide.uuid})">Show logs</a></td>
                </tr>
                </tbody>
            </table>
        </remote-resource>
    </div>
</div>
