<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span ng-show="clusters">{{ clusters.length }} clusters</span>
            <span ng-hide="clusters">Loading...</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button icon-link" href="https://docs.continuouspipe.io/quick-start/configuring-a-cluster/" target="_blank">
            <md-icon>help</md-icon>
        </md-button>
        <md-button ng-show="isAdmin" class="md-raised" aria-label="Add" ui-sref="clusters.add">Add</md-button>
    </div>
</md-toolbar>
<md-content flex id="content">
    <div class="zero-content-help" ng-if="clusters.length == 0">
        <i class="cp-icon-arrow-right-up top-right-arrow"></i>
        <h3>You need to deploy somewhere!</h3>
        <p>Add your existing cluster or let us create one on your behalf on an partner hosting platform provider.</p>
    </div>
    <remote-resource resource-name="clusters">
        <table class="table hover" ng-show="clusters.length > 0">
            <thead>
            <tr>
                <th>Type</th>
                <th>Identifier</th>
                <th>Address</th>
                <th>Credentials</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="cluster in clusters">
                <td>{{ cluster.type }}</td>
                <td>{{ cluster.identifier }}</td>
                <td>{{ cluster.address }} <small>{{ cluster.version }}</small></td>
                <td>User <small>{{ cluster.username }}</small></td>
                <td>
                    <md-button ng-show="isAdmin" ng-click="deleteCluster(cluster)" class="md-icon-button"><i class="material-icons">delete</i></md-button>
                    <md-button ng-click="inspectCluster(cluster)" class="md-icon-button"><i class="material-icons">lightbulb_outline</i></md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </remote-resource>
</md-content>
