<div class="container">
    <div class="block-header">
        <h2>Docker Registry credentials</h2>

        <ul class="actions">
            <li>
                <a ui-sref="registry-credentials.create">
                    <i class="md md-add"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="row">
        <remote-resource resource-name="credentials">
            <div class="text-center p20" ng-show="credentials.length === 0">No credentials found. <a ui-sref="registry-credentials.create">Creates one !</a></div>
            <table class="table table-inner table-vmiddle" ng-show="credentials.length">
                <thead>
                <tr>
                    <th>Server</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="credential in credentials">
                    <td>{{ credential.serverAddress }}</td>
                    <td>{{ credential.username }}</td>
                    <td>{{ credential.email }}</td>
                    <td>
                        <ul class="actions">
                            <li>
                                <a ng-click="deleteCredentials(credential)"><i class="md md-delete"></i></a>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </remote-resource>
    </div>
</div>
