<p>You've been invited to join the team "{{ team.name }}"{% if "ADMIN" in invitation.permissions %} as an administrator{% endif %} on ContinuousPipe.</p>

<p>By clicking the following button you'll accept the invitation and will be able to access the flows of the {{ team.name }} team.</p>

<p>
    <a href="{{ accept_invitation_url }}" class="intercom-h2b-button">Accept invitation</a>
</p>

<p>Have a lovely day,</p>
