<p>You've been invited to join the team "{{ team.name }}"{% if "ADMIN" in invitation.permissions %} as an administrator{% endif %} on ContinuousPipe.</p>

<p>Once you've <a href="https://ui.continuouspipe.io">logged-in on ContinuousPipe</a>, you'll be automatically added to the team!</p>

<p>Have a lovely day,</p>

