You've been invited to join the team "{{ team.name }}" on ContinuousPipe.

Once you've logged-in on ContinuousPipe, you'll be automatically added to the team!

<a href="https://ui.continuouspipe.io">Login on ContinuousPipe</a>

Have a lovely day,
