<p>You've been invited to join the team "{{ team.name | default(team.slug) }}"{% if "ADMIN" in invitation.permissions %} as an administrator{% endif %} on ContinuousPipe.</p>

<p>By clicking the following button you'll accept the invitation and will be able to access the flows of the {{ team.name | default(team.slug) }} team.</p>

<p class="intercom-container" style="text-align: center;">
    <a href="{{ accept_invitation_url }}" style="background-color: #0071b2; border: 1px none rgba(0,0,0,0.2); border-radius: 5px; color: #fff; display: inline-block; font-size: 14px; font-weight: bold; min-height: 20px; text-decoration: none; padding: 10px 20px;">
        Accept invitation
    </a>
</p>

<p>Have a lovely day,</p>
