<md-dialog layout-padding>
    <md-card-header>
        <md-card-header-text>
            <span class="md-title">{{ environment.identifier }}</span>
            <span class="md-subhead">Status: <span class="status-text" ng-class="{'status-success': environment.status == 'healthy', 'status-failure': environment.status == 'unhealthy', 'status-running': environment.status === 'unknown', 'status-terminating': environment.status === 'terminating'}">{{ environment.status }}</span></span>
        </md-card-header-text>

        <md-button class="md-raised md-primary environment-card-btn"
                   ng-repeat="endpoint in environment.endpoints"
                   ng-click="openEndpoint(endpoint); $event.stopPropagation()">
            Open <code>{{ endpoint.name }}</code>
        </md-button>

        <md-button class="md-raised md-primary environment-card-btn"
                   ng-repeat="endpoint in environment.endpoints"
                   ng-click="openRemoteShell(environment, endpoint)">
            Remote Shell <code>{{ endpoint.name }}</code>
        </md-button>

        <md-button class="md-raised md-primary environment-card-btn"
                   ng-repeat="endpoint in environment.endpoints"
                   ng-click="$event.stopPropagation()"
                   ui-sref="flow.environment-preview({identifier: environment.identifier})">
            Preview <code>{{ endpoint.name }}</code>
        </md-button>
    </md-card-header>

    <table class="table">
        <thead>
        <tr>
            <th>Component</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-show="!environment.components.length">
            <td colspan="3">No components found.</td>
        </tr>
        <tr ng-repeat="component in environment.components">
            <td><strong>{{ component.name }}</strong></td>
            <td class="status-text" ng-class="{'status-success': component.status.status == 'healthy', 'status-failure': component.status.status == 'unhealthy', 'status-running': component.status.status === 'unknown'}">{{ component.status.status }}</td>
            <td>
                <md-button class="md-icon-button logs-button" ng-click="liveStreamComponent(environment, component)">
                    <md-tooltip md-direction="top">Live-stream logs</md-tooltip>
                    <md-icon class="material-icons">playlist_play</md-icon>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>

</md-card>

</md-dialog>