<div class="form-group fg-line">
    <label for="versionSelect">Cluster</label>
    <div class="fg-line">
        <remote-resource resource-name="clusters">
            <div class="select">
                <select class="form-control" id="versionSelect" ng-model="context.cluster" required>
                    <option ng-repeat="cluster in clusters" value="{{ cluster.identifier }}">{{ cluster.name }}</option>
                </select>
            </div>
        </remote-resource>
    </div>
</div>
