<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>Update project configuration</h2>
    </div>
</md-toolbar>
<md-content flex class="configuration-content">
    <form name="projectForm">
        <div class="form-container">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Unique identifier (you can't change it anymore)</label>
                <input ng-model="project.slug" required disabled="disabled" />
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Name</label>
                <input ng-model="patch.project.name" required />
            </md-input-container>

            <md-input-container class="md-block" flex-gt-xs>
                <label>Billing profile</label>
                <md-select ng-model="patch.billing_profile" md-on-open="loadBillingProfiles()" placeholder="Select the billing profile">
                    <md-option ng-value="null"><em>Don't change</em></md-option>
                    <md-option ng-value="billingProfile" ng-repeat="billingProfile in billingProfiles">{{ billingProfile.name }}</md-option>
                </md-select>
            </md-input-container>
        </div>
    </form>
</md-content>
<md-toolbar>
    <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-raised" aria-label="Update" ng-disabled="projectForm.$invalid || isLoading" ng-click="update(project)">
            <md-progress-circular md-mode="indeterminate" md-diameter="40px" ng-show="isLoading"></md-progress-circular>
            Update
        </md-button>
    </div>
</md-toolbar>
