// Colors
$success-color: #64ad03;
$default-color: #999;
$failure-color: #d61341;
$running-color: #2979ca;

// Layout
$text-rounds-radius: 20px;

body {
    background: transparent;
}

.log-container {
    .children {
        padding-top: 10px;
        padding-left: 25px;
    }

    .log {
        &.type-raw {
            position: relative;

            pre {
                background: #002b36;
                color: #839496;
                white-space: pre-wrap;
                max-height: 400px;
            }

            button.follow-button {
                position: absolute;
                right: 10px;
                bottom: 10px;
                background: #fff;
                padding: 5px 10px;
                border-radius: 5px;
                border: none;

                &.selected {
                    box-shadow: inset 0 0 15px #777;
                    color: green;
                }
            }
        }

        &.type-text {
            div.content {
                div.counter {
                    float: right;
                }

                i.round {
                    display: inline-block;
                    width: $text-rounds-radius;
                    height: $text-rounds-radius;
                    border-radius: ($text-rounds-radius / 2);
                    background-color: $default-color;
                    vertical-align: middle;
                    text-align: center;

                    > .glyphicon {
                        color: #fff;
                        font-size: 0.7em;
                        vertical-align: middle;
                        margin-top: -3px;

                        &.glyphicon-chevron-right {
                            margin-top: -4px;
                        }
                    }
                }
            }

            .children {
                padding-left: 20px;
                margin-left: $text-rounds-radius / 2;
                border-left: 1px solid $default-color;
            }

            &.status-running {
                > div.content i.round {
                    background-color: $running-color;
                }

                > .children {
                    border-left-color: $running-color;
                }
            }

            &.status-success {
                > div.content i.round {
                    background-color: $success-color;
                }

                > .children {
                    border-left-color: $success-color;
                }
            }

            &.status-failure {
                > div.content i.round {
                    background-color: $failure-color;
                }

                > .children {
                    border-left-color: $failure-color;
                }
            }
        }
    }
}
