<div class="events">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>First seen</th>
				<th>Last seen</th>
				<th>Reason</th>
				<th>Message</th>
				<th>Count</th>
			</tr>
		</thead>
		<tbody>
			<tbody>
				<tr ng-if="!log.events || 0 === log.events.length">
					<td colspan="5">No events yet.</td>
				</td>
				<tr ng-repeat="event in log.events">
					<td>
				        <span>
				        	<md-tooltip md-direction="top">{{ event.firstTimestamp | date:'dd/MM/yyyy HH:mm:ss' }}</md-tooltip>
							{{ event.firstTimestamp | timeAgo }}
						</span>
					</td>
					<td>
				        <span>
							<md-tooltip md-direction="top">{{ event.lastTimestamp | date:'dd/MM/yyyy HH:mm:ss' }}</md-tooltip>
							{{ event.lastTimestamp | timeAgo }}
						</span>
					</td>
					<td>{{ event.reason }}</td>
					<td>{{ event.message }}</td>
					<td>{{ event.count }}</td>
				</tr>
			</tbody>
		</tbody>
	</table>
</div>
