<md-card class="pipeline-card" ng-class="['status-'+pipeline.lastTides[0].status]">
    <md-card-content layout="column">
        <div layout="row" class="pipeline-details-row">
            <span class="md-headline">{{ pipeline.name }}</span>
            <span ng-if="!disableDeletion">
                <md-button class="md-icon-button delete-pipeline-btn" ng-click="deletePipeline(pipeline.uuid)">
                    <md-icon>clear</md-icon>
                </md-button>
            </span>
            <span flex></span>
            <span class="pipeline-details-row__details">
                <i class="cp-icon-git-branch"></i> {{ pipeline.lastTides[0].code_reference.branch }}
                <md-icon>code</md-icon> {{ pipeline.lastTides[0].code_reference.sha1 | limitTo:7 }}
                <span>
                    <md-tooltip md-direction="bottom">{{ pipeline.lastTides[0].creation_date | date:'dd/MM/yyyy HH:mm:ss' }}</md-tooltip>
                    <md-icon>schedule</md-icon> {{ pipeline.lastTides[0].creation_date | timeAgo }}
                </span>
            </span>
        </div>
        <div layout="row">
            <span class="status-text" ng-class="['status-'+pipeline.lastTides[0].status]">{{ pipeline.lastTides[0].status }}</span>
            <span flex></span>
            <task-list tide="pipeline.lastTides[0]" />
        </div>
    </md-card-content>
</md-card>
