<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span ng-show="apiKeys">{{ apiKeys.length }} API Keys</span>
            <span ng-hide="apiKeys">Loading...</span>
        </h2>
    </div>
</md-toolbar>

<md-content flex id="content" class="card-grid">
    <remote-resource resource-name="apiKeys">
        <table class="table hover">
            <thead>
            <tr>
                <th>Key</th>
                <th>Description</th>
                <th>Creation date</th>
                <th ng-show="isAdmin">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="apiKey in apiKeys">
                <td>{{ apiKey.api_key }}</td>
                <td>{{ apiKey.description }}</td>
                <td>{{ apiKey.creation_date | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                <td>
                    <md-button ng-click="deleteKey(apiKey)" class="md-raised md-warn">Remove</md-button>
                </td>
            </tr>
            <tr ng-hide="apiKeys.length">
                <td colspan="4">
                    You currently have no keys. Please use the form below to create a new key
                </td>
            </tr>
            </tbody>
        </table>

        <p>
            <hr />
            <h2>Create a new key</h2>
            <form name="apiKeysForm">
                <div class="form-container">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Description</label>
                        <input ng-model="apiKey.description" required />
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <md-button class="md-raised" aria-label="Create" ng-disabled="apiKeysForm.$invalid || isLoading" ng-click="create(apiKey)">
                            <md-progress-circular md-mode="indeterminate" md-diameter="40px" ng-show="isLoading"></md-progress-circular>
                            Create
                        </md-button>
                    </md-input-container>
                </div>
            </form>
        </p>
    </remote-resource>
</md-content>
