<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span ng-show="accounts">Accounts</span>
            <span ng-hide="accounts">Loading...</span>
        </h2>
    </div>
</md-toolbar>
<md-content flex id="content" class="card-grid">
    <div class="zero-content-help" ng-if="projects.length == 0">
        <i class="cp-icon-arrow-right-up top-right-arrow"></i>
        <h3>No project yet, you should create one!</h3>
        <p>A project is a logical group of different <em>flows</em>. It will help you to organise your different flows.</p>
    </div>

    <table class="table hover">
        <thead>
        <tr>
            <th>Type</th>
            <th>User</th>
            <th ng-show="isAdmin">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="account in accounts">
            <td>{{ account.type }}</td>
            <td>{{ account.username }}</td>
            <td ng-show="isAdmin">
                <md-button ng-click="unlinkAccount(account)" class="md-raised md-warn">unlink</md-button>
            </td>
        </tr>
        </tbody>
    </table>

    <p>
        <md-button ng-click="connectAccount('github')" class="md-raised">Connect a GitHub account</md-button>
        <md-button ng-click="connectAccount('google')" class="md-raised">Connect a Google account</md-button>
        <md-button ng-click="connectAccount('bitbucket')" class="md-raised">Connect a BitBucket account</md-button>
    </p>

</md-content>
