<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span>Add a Docker Registry credential</span>
        </h2>
    </div>
</md-toolbar>
<md-content flex id="content">
    <form name="credentialsForm">
        <md-subheader class="md-primary">Registry</md-subheader>
        <div class="form-container">
            <md-radio-group ng-model="credentials.serverAddress">
                <md-radio-button ng-value="'docker.io'" class="md-primary">Docker Hub Registry</md-radio-button>
                <md-radio-button ng-value="'quay.io'" class="md-primary">Quay.io</md-radio-button>
                <md-radio-button ng-value="''">Custom registry</md-radio-button>
            </md-radio-group>
            <md-input-container class="md-block" flex-gt-xs ng-show="['docker.io', 'quay.io'].indexOf(credentials.serverAddress) == -1">
                <label>Registry address</label>
                <input name="serverAddress" ng-model="credentials.serverAddress" placeholder="gcr.io" required ng-pattern="'([a-zA-Z0-9_\.:-]+)'" />
                <div ng-messages="credentialsForm.serverAddress.$error">
                    <div ng-message="required">Server address is required.</div>
                    <div ng-message="pattern">The registry address is not a valid hostname</div>
                </div>
            </md-input-container>
        </div>
        <md-subheader class="md-primary">Credentials</md-subheader>
        <div class="form-container">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Username</label>
                <input ng-model="credentials.username" required />
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Email</label>
                <input ng-model="credentials.email" required />
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Password</label>
                <input type="password" ng-model="credentials.password" required />
            </md-input-container>
        </div>
    </form>
</md-content>
<md-toolbar>
    <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-raised" aria-label="Create" ng-disabled="credentialsForm.$invalid || isLoading" ng-click="create(credentials)">
            <md-progress-circular md-mode="indeterminate" md-diameter="40px" ng-show="isLoading"></md-progress-circular>
            Create
        </md-button>
    </div>
</md-toolbar>
