<md-button class="md-icon-button logo" aria-label="Dashboard" ui-sref="teams">
    <md-icon class="cp-icon-logo"></md-icon>
</md-button>
<h2 class="title"><span ui-view="title"></span></h2>
<span flex></span>
<md-menu md-position-mode="target-right target">
    <md-button aria-label="Account" class="md-icon-button account-button" ng-click="$mdOpenMenu($event)">
        <img ng-src="http://www.gravatar.com/avatar/{{ user.email | gravatar }}" />
    </md-button>
    <md-menu-content width="4">
        <md-menu-item>
            <md-button ng-click="redirectToLogout()">
                <div layout="row">
                    <md-icon md-menu-align-target>settings_power</md-icon>
                    <p flex>Logout</p>
                </div>
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>
