<md-dialog aria-label="Logs of {{ component.name }}" class="logs-dialog">
    <form>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Logs of component <code>{{ component.name }}</code></h2>
            <span flex></span>
            <md-input-container>
                <label>Pod</label>
                <md-select ng-model="selectedPod">
                    <md-option ng-repeat="pod in component.status.containers" ng-value="pod">{{ pod.identifier }}</md-option>
                </md-select>
            </md-input-container>
            <md-button class="md-icon-button" ng-click="close()">
                <md-icon class="material-icons" aria-label="Close dialog">clear</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="zero-content-help" ng-if="!selectedPod">
                <i class="cp-icon-arrow-right-up top-right-arrow"></i>
                <h3>Select the pod</h3>
                <p>This component have more than one pod, you have to select which one would you like to see the logs and events for.</p>
            </div>
            
            <pod-logs environment="environment" pod="selectedPod" ng-if="selectedPod"></pod-logs>
        </md-dialog-content>
    </form>
</md-dialog>
