<md-button class="sidebar-toggle" ng-click="toggleSideBar()" ng-if="showToggle">
    <md-icon ng-bind="'menu'"></md-icon>
</md-button>
<span class="mobile-only" ng-if="showToggle" flex></span>
<md-button class="md-icon-button logo" aria-label="Dashboard" ui-sref="projects">
    <md-icon class="cp-icon-logo"></md-icon>
</md-button>
<h2 class="title"><span ui-view="title">{{ environment.identifier }}</span></h2>
<div flex>
    <md-list class="env__component-list" role="list">
        <md-list-item role="listitem" class="env__component-item md-proxy-focus md-with-secondary _md md-clickable" ng-repeat="component in environment.components">
            <md-menu>
                <md-button class="env__component" ng-class="component.status.status" ng-click="$mdOpenMenu($event)">
                    {{ component.name }}
                </md-button>
                <md-menu-content width="4" ng-init="endpoints = getEnvironmentEndpoints(environment)">
                    <md-menu-item>
                        <md-button ng-click="liveStreamComponent(environment, component)">Live-stream Logs</md-button>
                    </md-menu-item>
                    <md-menu-item ng-repeat="endpoint in endpoints">
                        <md-button ng-click="openEndpoint(endpoint)">Open <code>{{ endpoint.name }}</code></md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-list-item>
    </md-list>
</div>
<md-button id="contact-us-launcher">Support</md-button>
<md-menu md-position-mode="target-right target">
    <md-button aria-label="Account" class="md-icon-button account-button" ng-click="$mdOpenMenu($event)">
        <img ng-src="//www.gravatar.com/avatar/{{ user.email | gravatar }}" />
    </md-button>
    <md-menu-content width="4">
        <md-menu-item>
            <md-button ng-click="redirectToAccount()">
                <div layout="row">
                    <md-icon md-menu-align-target>account_box</md-icon>
                    <p flex>Account</p>
                </div>
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="redirectToLogout()">
                <div layout="row">
                    <md-icon md-menu-align-target>settings_power</md-icon>
                    <p flex>Logout</p>
                </div>
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>
