.tabs-toolbar {
    background: $header-background !important;

    ul.tabs {
        list-style: none;
        margin: 0 0 0 20px;
        padding: 0;

        li {
            float: left;
            margin-right: 10px;

            md-icon {
                color: #fff;
                font-size: 1.3em;
                margin-top: 5px;
            }

            a {
                text-decoration: none;
                color: #fff;
                display: inline-block;
                padding: 5px 10px 5px 10px;
                opacity: 0.75;

                span {
                    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                    font-weight: 500;
                    text-transform: uppercase;
                }

                &.selected {
                    border-bottom: 2px solid #fff;
                    opacity: 1;
                }
            }
        }
    }
}