<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span ng-show="environments">{{ environments.length }} environments</span>
            <span ng-hide="environments">Loading...</span>
        </h2>
        <span flex></span>
        <md-button class="md-raised" aria-label="Start manually" ui-sref="flow.create-remote">
            <md-icon>play_arrow</md-icon>
            Start manually
        </md-button>
    </div>
</md-toolbar>
<md-content flex id="content" class="card-grid half environment-grid">
    <div class="zero-content-help zero-content-help--remote">
        <i class="cp-icon-commit" style="font-size: 60px;"></i>
        <h3>To use your development environment, you’ll have to install the cp-remote command line tool on your
            machine.</h3>
        <p>You’ll find all the help you need in the documentation.</p>
        <p>Generate an initialization token to get started and use it with the `cp-remote init` command.</p>
        <form name="remoteEnvForm">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Remote Branch Name</label>
                <input type="text" ng-model="branchName" value="{{ branchName }}"/>
            </md-input-container>
        </form>
        <div>
            <p id="envToken" style="overflow-wrap: break-word;">{{ token }}</p>
            <md-button class="md-raised" ng-click="getToken()" ng-hide="token">
                Generate an initialization token
            </md-button>
            <md-button class="md-raised" ng-click="copyToken()" ng-show="token">
                Copy token to clipboard
            </md-button>
        </div>
    </div>
</md-content>
