<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span ng-show="environments">{{ environments.length }} environments</span>
            <span ng-hide="environments">Loading...</span>
        </h2>
        <span flex></span>
        <md-button class="md-raised" aria-label="Start manually" ng-click="stageEnvironment()">
            <md-icon>control_point</md-icon>
            Create New
        </md-button>
    </div>
</md-toolbar>
<md-content flex id="content" class="card-grid half environment-grid">
    <div class="zero-content-help zero-content-help--remote" ng-show="showForm">
        <h3>Create New Enviroment</h3>
        <form name="remoteEnvForm">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Environment Name</label>
                <input type="text" ng-model="stagedEnvironment"
                       value="{{ stagedEnvironment }}"/>
            </md-input-container>
        </form>
        <md-button class="md-raised" ng-click="createEnvironment()">
            Create {{ stagedEnvironment }}
        </md-button>
    </div>
    <remote-resource resource-name="environments">
        <md-card ng-repeat="environment in environments" ui-sref="flow.create-remote({environment: environment})">
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon">
                        <i class="material-icons">chevron_right</i>
                    </md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">{{ environment.name }}</span>
                    <span class="md-subhead">User: <span
                        class="status-text status-success">{{ environment.username }}</span></span>
                </md-card-header-text>

                <md-button class="md-raised md-primary environment-card-btn"
                           ng-repeat="endpoint in environment.endpoints"
                           ng-click="openEndpoint(endpoint)">
                    Open <code>{{ endpoint.name }}</code>
                </md-button>
            </md-card-header>
        </md-card>
    </remote-resource>
</md-content>
