<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>{{ developmentEnvironmentStatus.development_environment.name }} ({{ developmentEnvironmentStatus.status }})</h2>
        <span flex></span>
        <md-button ng-repeat="endpoint in developmentEnvironmentStatus.public_endpoints"
                 class="md-raised md-primary"
                 ng-click="openEndpoint(endpoint)">
            Open <code>{{ endpoint.name }}</code>
        </md-button>
    </div>
</md-toolbar>
<md-content flex id="content">
    <div class="zero-content-help zero-content-help--remote" ng-if="!hasBeenCreated">
        <i class="cp-icon-commit" style="font-size: 60px;"></i>
        <h3>To use your development environment, you’ll have to install the cp-remote command line tool on your
            machine.</h3>
        <p>You’ll find all the help you need in the documentation.</p>
        <p>Generate an initialization token to get started and use it with the `cp-remote init` command.</p>
        <form name="remoteEnvForm">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Remote Branch Name</label>
                <input type="text" name="branchName" ng-model="tokenRequest.git_branch" ng-disabled="token" />
            </md-input-container>
        </form>
        <div>
            <input type="text" id="envToken" style="visibility: hidden;"
                   ng-model="token" value="{{ token }}"/>
            <pre>cp-remote init {{ token }}</pre>
            <md-button class="md-raised" ng-click="getToken()" ng-hide="token" ng-disabled="isLoading">
                Generate an initialization token
            </md-button>
            <md-button class="md-raised" ng-click="copyToken()" ng-show="token">
                Copy token to clipboard
            </md-button>
        </div>
    </div>
    <div ng-if="hasBeenCreated">
        <pipeline-overview 
            flow="flow" 
            pipeline="developmentEnvironmentStatus.last_tide.pipeline"
            headline="Last tide"
            disable-deletion="true">
            Loading...
        </pipeline-overview>

        <div class="zero-content-help">
            <h3>You should be ready to go!</h3>
            <p>Use the <code>cp-remote</code> command line tool to <a href="https://docs.continuouspipe.io/remote-development/watch-command/"><code>watch</code> your local changes</a>, <a href="https://docs.continuouspipe.io/remote-development/watch-command/"><code>bash</code> into your running container</a>, do some <a href="https://docs.continuouspipe.io/remote-development/forward-command/">port forwarding</a> to the running container and much more!</p>
        </div>
    </div>
</md-content>
<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-raised md-warn" aria-label="Delete" ng-click="delete()" ng-disabled="isLoading"><md-icon>delete</md-icon> Delete</md-button>
        <span flex></span>
        <md-button class="md-raised" aria-label="Re-deploy" ng-click="rebuild()" ng-disabled="isLoading">
            <md-icon>play_arrow</md-icon>
            Re-deploy
        </md-button>
    </div>
</md-toolbar>
