<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span>Add a GitHub token</span>
        </h2>
    </div>
</md-toolbar>
<md-content flex id="content">
    <form name="tokenForm">
        <div class="form-container">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Username</label>
                <input ng-model="token.login" required />
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Token</label>
                <input ng-model="token.accessToken" required />
            </md-input-container>
        </div>
    </form>
</md-content>
<md-toolbar>
    <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-raised" aria-label="Create" ng-disabled="tokenForm.$invalid || isLoading" ng-click="create(token)">
            <md-progress-circular md-mode="indeterminate" md-diameter="40px" ng-show="isLoading"></md-progress-circular>
            Create
        </md-button>
    </div>
</md-toolbar>

