<div class="container">
    <div class="block-header">
        <h2>GitHub tokens</h2>

        <ul class="actions">
            <li>
                <a ui-sref="github-tokens.create">
                    <i class="md md-add"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="row">
        <remote-resource resource-name="tokens">
            <div class="text-center p20" ng-show="tokens.length === 0">No token found. <a ui-sref="github-tokens.create">Creates one !</a></div>
            <table class="table table-inner table-vmiddle" ng-show="tokens.length">
                <thead>
                <tr>
                    <th>Login</th>
                    <th>Token</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="token in tokens">
                    <td>{{ token.login }}</td>
                    <td>{{ token.accessToken }}</td>
                    <td>
                        <ul class="actions">
                            <li>
                                <a ng-click="deleteToken(token)"><i class="md md-delete"></i></a>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </remote-resource>
    </div>
</div>
