{% extends "::base.html.twig" %}
{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" type="text/css">
{% stylesheets
    filter="scssphp"
    filter="cssrewrite"
    output="stylesheets/app.css"

    "bundles/auth/scss/reset.scss"
    "bundles/auth/scss/layout.scss"
    "bundles/auth/scss/login.scss"
%}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
{% block body %}
<header class="header">
    <i class="icon cp-icon-logo"></i>
    <h1>ContinuousPipe</h1>
</header>
{% block content %}{% endblock %}
{% endblock %}
