<div ng-controller="EndpointClusterPolicyController">
    <p>
        <strong>Endpoint type</strong>
        <md-select ng-model="policy.configuration.type" style="display: inline-block;">
            <md-option ng-value="null"><em>None</em></md-option>
            <md-option ng-value="'ingress'">Ingress</md-option>
        </md-select>
    </p>

    <p ng-show="policy.configuration.type == 'ingress'">
        <strong>Ingress class</strong>
        <input type="text" ng-model="policy.configuration['ingress-class']" />
    </p>

    <p ng-show="policy.configuration.type == 'ingress'">
        <strong>Ingress host suffix</strong>
        <input type="text" ng-model="policy.configuration['ingress-host-suffix']" />
    </p>

    <p>
        <strong>CloudFlare by default</strong>
        <input type="checkbox" ng-model="policy.configuration['cloudflare-by-default']" ng-change="onChange()" />
    </p>
    <p ng-show="policy.configuration['cloudflare-by-default']">
        <strong>CF proxied by default</strong>
        <input type="checkbox" ng-model="policy.configuration['cloudflare-proxied-by-default']" />
    </p>
</div>
