<md-dialog aria-label="Cluster health" class="logs-dialog">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Alerts</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    <md-icon class="material-icons" aria-label="Close dialog">clear</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <remote-resource resource-name="problems">
                <div class="zero-content-help" ng-if="alerts.length == 0">
                    <h3>No problem found!</h3>
                    <p>It looks like your cluster is healthy.</p>
                </div>
                <table class="table hover" ng-show="alerts.length > 0">
                    <thead>
                    <tr>
                        <th>Category</th>
                        <th>Message</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="alert in alerts">
                        <!--<td>{{ problem.category }}</td>-->
                        <!--<td>{{ problem.message }}</td>-->
                        <td>TEST</td>
                    </tr>
                    </tbody>
                </table>
            </remote-resource>
        </md-dialog-content>
    </form>
</md-dialog>
