<md-content flex id="content" layout="column" class="flow-wizard">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <span>Select your code repository</span>
            </h2>
        </div>
    </md-toolbar>
    <md-content flex layout="row" class="step-repository">
        <md-sidenav md-is-locked-open="true" class="organisation-list md-whiteframe-3dp">
            <md-list flex>
                <md-list-item class="md-1-line" ng-click="wizard.organisation = null;" ng-class="{'selected': !wizard.organisation}">
                    <img ng-src="http://www.gravatar.com/avatar/{{ user.email | gravatar }}" class="md-avatar" />
                    <div class="md-list-item-text" layout="column">
                        <p>Personal repositories</p>
                    </div>
                </md-list-item>
                <md-divider ></md-divider>
                <md-subheader class="md-no-sticky">Organisations</md-subheader>
                <md-divider ></md-divider>
                <remote-resource resource-name="organisations">
                    <md-list-item class="md-1-line" ng-repeat="organisation in organisations" ng-click="wizard.organisation = organisation;" ng-class="{'selected': wizard.organisation == organisation}">
                        <img ng-src="{{ organisation.organisation.avatar_url }}" class="md-avatar" />
                        <div class="md-list-item-text" layout="column">
                            <p>{{ organisation.organisation.login }}</p>
                        </div>
                    </md-list-item>
                </remote-resource>
            </md-list>
        </md-sidenav>
        <md-content flex id="content" layout="column">
            <md-toolbar class="filter-repository-toolbar">
                <div class="md-toolbar-tools">
                    <md-input-container md-no-float class="md-block">
                        <md-icon><i class="material-icons">search</i></md-icon>
                        <input ng-model="wizard.repositoryFilter.$" type="text" placeholder="Filter repository">
                    </md-input-container>
                </div>
            </md-toolbar>
            <md-content flex>
                <remote-resource resource-name="repositories">
                    <md-list>
                        <md-list-item class="md-1-line" ng-repeat="repository in repositories | filter:wizard.repositoryFilter" ng-click="wizard.repository = repository;" ng-class="{'selected': wizard.repository == repository}">
                            <md-icon class="md-avatar-icon" ng-if="repository.private">lock</md-icon>
                            <md-icon class="md-avatar-icon" ng-if="!repository.private">public</md-icon>
                            <p>{{ repository.name }}</p>
                        </md-list-item>
                    </md-list>
                </remote-resource>
            </md-content>
        </md-content>
    </md-content>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span flex></span>
            <md-button class="md-raised" aria-label="Next" ng-click="create()" ng-disabled="!wizard.repository || isLoading">
                <md-progress-circular md-mode="indeterminate" md-diameter="40px" ng-show="isLoading"></md-progress-circular>
                Create
            </md-button>
        </div>
    </md-toolbar>
</md-content>
