<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span ng-show="flows">{{ flows.length }} flows</span>
            <span ng-hide="flows">Loading...</span>
        </h2>
        <span flex></span>
        <md-button class="md-raised" aria-label="Create a flow" ui-sref="flows.create"><md-icon>add</md-icon> Create a flow</md-button>
    </div>
</md-toolbar>
<md-content flex id="content" class="card-grid">
    <remote-resource resource-name="flows">
        <md-card ng-repeat="flow in flows">
            <md-card-header ui-sref="flow.tides({uuid: flow.uuid})">
                <md-card-avatar>
                    <md-icon class="md-avatar-icon"><i class="material-icons">transform</i></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">{{ flow.repository.repository.name }}</span>
                    <span class="md-subhead">{{ flow.repository.repository.owner.login }}</span>
                </md-card-header-text>
            </md-card-header>

            <table class="table">
                <thead>
                <tr>
                    <th>Branch</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-show="!flow.tides.length">
                    <td colspan="3">No tides found.</td>
                </tr>
                <tr ng-repeat="tide in flow.tides" ui-sref="tide.logs({uuid: flow.uuid, tideUuid: tide.uuid})">
                    <td>{{ tide.code_reference.branch }}</td>
                    <td>{{ tide.creation_date | date:'dd/MM/yyyy hh:mm:ss' }}</td>
                    <td>{{ tide.status }}</td>
                </tr>
                </tbody>
            </table>
        </md-card>
    </remote-resource>
</md-content>
