<md-toolbar class="status-container" ng-class="(summary.status || tide.status) | tideStatusClass">
    <div class="md-toolbar-tools tools-bar">
        <md-progress-circular md-mode="indeterminate"  ng-show="summary && summary.status == 'running'" md-diameter="30px"></md-progress-circular>
        <div class="status" flex>
            <h2 ng-hide="summary"><span>Loading...</span></h2>
            <h2 ng-show="summary && summary.status != 'running'">{{ summary.status | firstUpperCase }}</h2>

            <h2 ng-show="summary && summary.status == 'running'">
                <span>{{ summary.current_task.log }}</span>
            </h2>
        </div>
        <div ng-show="summary.deployed_services" class="relations open-btns">
          <md-button ng-repeat="(serviceName, service) in summary.deployed_services"
                     class="md-raised md-primary"
                     ng-if="service.public_endpoint"
                     ng-click="openEndpoint(service.public_endpoint)">
              Open <code>{{ serviceName }}</code>
          </md-button>
        </div>

        <md-button class="md-raised md-warn"
                   ng-show="['running', 'pending'].indexOf(summary.status) != -1"
                   ng-click="cancel()"
                   ng-disabled="isLoading">
            Cancel
        </md-button>

        <md-button class="md-raised md-warn"
                   ng-show="['success', 'failure', 'cancelled'].indexOf(summary.status) != -1"
                   ng-click="retry()"
                   ng-disabled="isLoading">
            {{['failure', 'cancelled'].indexOf(summary.status) != -1 ? 'Retry' : 'Rerun'}}
        </md-button>

        <md-button class="md-raised md-warn"
                   ng-show="isAdmin && ['success', 'failure', 'cancelled'].indexOf(summary.status) != -1 && summary.environment"
                   ng-click="deleteAndRetry(summary.environment)"
                   ng-disabled="isLoading || pinnedBranch">
            <span>
                <md-tooltip ng-if="pinnedBranch" md-direction="bottom">This branch is pinned, so its environment cannot be deleted. Branches can be pinned and unpinned from the branches view</md-tooltip>
                <md-tooltip ng-if="!pinnedBranch" md-direction="bottom">Delete the environment for this branch and rerun the tide. You can pin branches to prevent this from the branches view</md-tooltip>
                Delete & {{['failure', 'cancelled'].indexOf(summary.status) != -1 ? 'Retry' : 'Rerun'}}
            </span>
        </md-button>

        <div ng-show="relations.length" class="relations">
            <a ng-repeat="relation in relations" ng-href="{{ relation.link }}" class="relation">
                <md-icon class="cp-icon-github"></md-icon>
            </a>
        </div>

    </div>
</md-toolbar>

<div ng-show="summary.deployed_services" class="relations open-btns mobile">
    <md-button ng-repeat="(serviceName, service) in summary.deployed_services"
               class="md-raised md-primary"
               ng-if="service.public_endpoint"
               ng-click="openEndpoint(service.public_endpoint)">
        Open <code>{{ serviceName }}</code>
    </md-button>
</div>

<md-content flex id="content" class="card-grid log-container">
  <logs parent="log" level="1"></logs>
</md-content>
