<remote-resource resource-name="log">
    <logs parent="log" level="1" class="log-container in-popup" ng-if="!timedOut"></logs>
    <md-dialog-content ng-if="timedOut">
        <div class="md-dialog-content">
            <h2 class="md-title">Timed-out</h2>
            <p>In order to reduce the un attended pressure on the cluster's logs, we timeout the streaming of the logs after 5 minutes. You can reload for another 5 minutes session by clicking the following button.</p>
        </div>
    </md-dialog-content>
    <md-dialog-actions ng-if="timedOut" layout="row">
        <md-button ng-click="reload()" md-autofocus flex>
            <md-icon class="materials-icon">autorenew</md-icon>
            Reload
        </md-button>
    </md-dialog-actions>
</remote-resource>
