<md-dialog-actions ng-if="!isConnected" layout="row">
    <md-button ng-click="connect()" md-autofocus flex>
        <md-icon class="materials-icon">autorenew</md-icon>
        Connect
    </md-button>
</md-dialog-actions>
<md-dialog-content>
    <div class="md-dialog-content">
        <h2 class="md-title">Not connected</h2>
        <p ng-if="!hasStarted">You are not (yet?) connected to the container. Click the "Connect" button to open a remote shell session with this running container.</p>
    </div>
    <div id="terminal-container"></div>
</md-dialog-content>
