@font-face {
  font-family: 'cp';
  src:  url('fonts/cp.eot?x6hk92');
  src:  url('fonts/cp.eot?x6hk92#iefix') format('embedded-opentype'),
    url('fonts/cp.ttf?x6hk92') format('truetype'),
    url('fonts/cp.woff?x6hk92') format('woff'),
    url('fonts/cp.svg?x6hk92#cp') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cp-icon-"], [class*=" cp-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cp' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cp-icon-logo:before {
  content: "\e906";
}
.cp-icon-old-logo:before {
  content: "\e901";
}
.cp-icon-github:before {
  content: "\e902";
}
.cp-icon-git-branch:before {
  content: "\e903";
}
.cp-icon-arrow-right-up:before {
  content: "\e904";
}
.cp-icon-commit:before {
  content: "\e905";
}
.cp-icon-bitbucket:before {
  content: "\e900";
}
.cp-icon-google:before {
  content: "\ea8a";
}