@import "fonts";

$header-background: #232731;
$logo-size: 40px;
$header-height: 64px;

table.table {
    border-top: 1px solid #F3F4F8;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;

    td, th {
        padding: 10px;
        text-align: left;
    }

    thead {
        background: #F6F8FA;
    }

    tr:nth-child(2) {
        background: #FBFCFD;
    }

    &.hover {
        tbody tr:hover {
            background: #f4f4f4;
            cursor: pointer;
        }
    }
}

body {
    > md-toolbar {
        background: $header-background !important;
        height: 40px;

        .md-button.logo {
            width: $header-height;
            height: $header-height;

            md-icon {
                padding-top: 5px;
                font-size: $logo-size;
                width: $logo-size;
                height: $logo-size;
            }
        }

        .account-button {
            height: 50px;
            width: 50px;

            img {
                border-radius: 50%;
                max-width: 100%;
            }
        }

        h2 {
            font-size: 19px;
            padding: 5px;

            &.title {
                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }

    md-sidenav.sidebar {
        background: #333844;
        max-width: 250px;

        md-menu-content {
            background: none;
            color: #ACB1B4;
            padding-top: 0;

            md-menu-item {
                .selected {
                    background: rgba(255, 255, 255, 0.1);
                }
            }
        }

        .md-subheader {
            background: none;
            color: #fff;
        }
    }

    md-content {
        .form-container {
            padding: 20px;
        }

        .help-sidebar {
            padding: 10px;
            background: #ACB1B4;
        }
    }

    button.md-button {
        md-progress-circular {
            float: left;
        }
    }

    .card-grid {
        padding: 20px;

        md-card {
            width: 400px;
            box-shadow: none;
            border: 1px solid #efefef;
            float: left;
            
            md-card-header {
                cursor: pointer;
                background: #efefef;
            }
        }
    }

    log-frame {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        > iframe {
            width: 100%;
            height: 100%;

            border: none;
        }
    }

    .flow-wizard {
        md-list {
            padding: 0;
        }

        .step-repository {
            md-list-item {
                &.selected {
                    background: #efefef;
                }
            }

            .organisation-list {
                md-list-item {
                    .md-avatar {
                        border-radius: 0;
                    }
                }
            }

            .filter-repository-toolbar {
                background: #EFEFEF;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                padding-top: 20px;
                min-height: 69px;
                height: 69px;

                md-icon {
                    color: grey;
                }

                md-input-container.md-block {
                    width: 100%;
                }
            }
        }

        .step-configuration {
            pre {
                border: 1px solid #ccc;
                background: #fefefe;
                padding: 10px;
            }
        }
    }
}

/******************************/

$loader-color: rgb(66, 133, 244);

.bgm-alt {
    background-color: #f7f7f7;
}


header {
    .header-links {
        margin-left: 40px;

        .top-menu > li.active:not(#toggle-width):before {
            -webkit-transform: scale3d(1, 1, 1);
            -moz-transform: scale3d(1, 1, 1);
            -ms-transform: scale3d(1, 1, 1);
            -o-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            opacity: 1;
        }
    }

    .header-link {
        color: #fff;
        line-height: 35px;
        padding: 0 10px;
    }

    .header-inner {
        .top-menu {
            .dropdown-user-account {
                background-position: right;
                min-width: 35px;
                padding-left: 10px;
                margin-right: 10px;

                span {
                    color: #fff;
                    vertical-align: middle;
                    line-height: 35px;
                }
            }

            .dropdown-menu {
                li.separator {
                    border-bottom: 1px solid #ccc;
                    margin: 5px;
                }
            }

            .team-dropdown {
                > li {
                    position: relative;

                    a.settings-button {
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
            }

            li {
                vertical-align: top;

                &.profile-picture {
                    margin-left: 20px;

                    &:hover {
                        &:before {
                            opacity: 0 !important;
                        }
                    }

                    span.picture {
                        display: inline-block;
                        height: 40px;
                        width: 40px;
                        border-radius: 40px;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .dropdown-with-text {
                    background-position: right;
                    padding: 0 30px 0 15px;
                    margin-right: 10px;
                }
            }
        }
    }
}

.sidebar-inner {
    h2 {
        font-size: 17px;
        font-weight: 400;
        padding-left: 20px;
    }
}

.remote-resource {
    padding: 20px;
    text-align: center;

    &.error {
        .md-warning {
            color: orange;
        }
    }

    &.loading {
        .loader > div {
            border-top-color: $loader-color;
            border-left-color: $loader-color;
            border-right-color: $loader-color;
        }
    }
}

.form-group {
    .checkbox-label {
        font-weight: normal;
        padding-left: 10px;
    }

    .input-group-addon {
        vertical-align: middle;

        i {
            font-size: 1.5em;
        }
    }
}

.card {
    .card-header {
        h2 {
            a {
                color: inherit;
            }

            .card-header-right {
                float: right;
            }

            small {
                &.card-header-right {
                    margin-top: 0;
                }
            }
        }

        ul.actions {
            a {
                i {
                    color: #fff;
                }
            }
        }
    }
}

pre.deployment-logs {
    border: 0;
    background-color: #000;
    color: #fff;
    border-radius: 0;
}

.bootgrid-header {
    padding-left: 0px;
    padding-top: 20px;

    .search {
        margin-bottom: 10px;

        .search-field {
            padding-left: 10px;
        }
    }
}

ul.tasks {
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;

    > li {
        &:nth-of-type(odd) {
            background-color: #f4f4f4;
        }

        .action-icons {
            i {
                cursor: pointer;
            }
        }

        &.dndDraggingSource {
            // display: none;
        }

        &.dndPlaceholder {
            background: #ffe033;
        }

        display: table-row;

        > div {
            vertical-align: top;
            padding: 10px;
            display: table-cell;
        }

        div.task-actions {
            width: 40px;
        }
    }
}

.yaml-editor {
    min-height: 400px;
}
.yaml-editor-buttons {
    text-align: center;
    padding: 10px;
}

// KaiKai page
.header-kaikai {
    .tide-status {
        padding: 5px;
        font-size: 0.8em;
        margin-left: 10px;
    }

    .remote-resource.loading {
        padding: 0;
        float: left;

        .loader {
            display: inline-block;

            > div {
                border-top-color: #fff;
                border-left-color: #fff;
                border-right-color: #fff;
            }
        }

        > span {
            color: #fff;
            padding-left: 10px;
            line-height: 35px;
            display: inline-block;
            vertical-align: top;
        }
    }
}

.kaikai-service-frame {
    position: fixed;
    top: 65px;
    right: 0;
    border: none;
    width: 100%;
    height: 100%;
}
