@import "fonts";

$header-background: #232731;

$sidebar-background: #333844;
$sidebar-color: #ACB1B4;

$inner-toolbar-background: white;
$inner-toolbar-color: #6D6D6D;
$inner-toolbar-button-background: #52A6FF;
$inner-toolbar-button-color: #fff;

$logo-size: 40px;
$header-height: 64px;
$sidebar-selected-background: rgba(255, 255, 255, 0.1);
$content-background: #F2F4F6;
$inner-toolbar-button-hovered-background: #3076FF;

$success-color: #E3F2D4;
$success-dark-color: #80BD42;
$running-color: #E6F2FB;
$running-dark-color: #1D8CD9;
$failure-color: #FDE3E3;
$failure-dark-color: #F28282;

.title-text {
    text-transform: uppercase;
    font-weight: bold;
    color: #80868D;
    font-size: 14px;
}

table.table {
    border-top: 1px solid #F3F4F8;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;

    td, th {
        padding: 10px;
        text-align: left;
    }

    thead {
        background: $content-background;
        border-bottom: 1px solid #ccc;

        th {
            @extend .title-text;

            padding: 25px;
        }
    }

    tbody {
        td {
            padding: 25px;
        }

        tr {
            border-bottom: 1px solid #efefef;
        }

        tr:nth-child(2n+1) {
            background: #fff;
        }
        tr:nth-child(2n) {
            background: #fcfcfc;
        }
    }

    &.hover {
        tbody tr:hover {
            background: #fcfcfc;
        }
    }

    &.actionable {
        tbody tr {
            cursor: pointer;
        }
    }
}

body {
    > md-toolbar {
        background: $header-background !important;
        height: 40px;

        .md-button.logo {
            width: $header-height;
            height: $header-height;

            md-icon {
                padding-top: 5px;
                font-size: $logo-size;
                width: $logo-size;
                height: $logo-size;
            }
        }

        button.md-button.account-button {
            padding: 0;

            img {
                border-radius: 50%;
                max-width: 100%;
            }
        }

        h2 {
            font-size: 19px;
            padding: 5px;

            &.title {
                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }

    md-sidenav.sidebar {
        background: $sidebar-background;
        max-width: 250px;

        md-menu-content {
            background: none;
            color: $sidebar-color;
            padding-top: 0;

            md-menu-item {
                .selected {
                    background: $sidebar-selected-background;
                }

                md-icon {
                    color: $sidebar-color;
                }
            }
        }

        .md-subheader {
            background: none;
            color: #fff;
        }
    }

    md-content {
        .error-content {
            padding: 40px;
        }
        
        .form-container {
            padding: 20px;
        }

        .help-sidebar {
            padding: 10px;
            background: #ACB1B4;
        }

        &.content {
            background: $content-background;

            md-content {
                background: $content-background;

                md-toolbar {
                    z-index: 100;
                }

                md-content {
                    md-toolbar {
                        z-index: 50;
                    }
                }
            }

            md-toolbar {
                z-index: 200;
                background: $inner-toolbar-background !important;
                color: $inner-toolbar-color;

                /* from AMD: .md-whiteframe-1dp */
                box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

                .md-button {
                    background: $inner-toolbar-button-background;
                    color: $inner-toolbar-button-color;
                    border-radius: 20px;
                    padding: 0 15px;

                    &:hover {
                        background: $inner-toolbar-button-hovered-background !important;
                    }

                    md-icon {
                        color: $inner-toolbar-button-color !important;
                    }
                }
            }
        }
    }

    button.md-button {
        md-progress-circular {
            float: left;
        }
    }

    .card-grid {
        padding: 20px;

        md-card {
            width: 365px;
            box-shadow: none;
            border: 1px solid #efefef;
            float: left;
            
            md-card-header {
                cursor: pointer;
            }

            md-card-title {
                padding-top: 0;

                .md-headline {
                    @extend .title-text;

                    background: $content-background;
                    border-radius: 32px;
                    padding: 0 15px;
                }
            }

            &.flow-card {
                md-card-title {
                    padding-bottom: 0;

                    .md-headline {
                        border-radius: 10px 10px 0 0;
                    }
                }
            }

            md-card-content.tide-summary {
                margin: 0 16px 16px 16px;
                padding: 20px;
                cursor: pointer;

                h3, h4 {
                    margin: 0;
                }

                h4 {
                    font-size: 12px;
                }
            }
        }
    }

    log-frame {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        > iframe {
            width: 100%;
            height: 100%;

            border: none;
        }
    }

    .flow-wizard {
        md-list {
            padding: 0;
        }

        .step-repository {
            md-list-item {
                &.selected {
                    background: #efefef;
                }
            }

            .organisation-list {
                md-list-item {
                    .md-avatar {
                        border-radius: 0;
                    }
                }
            }

            .filter-repository-toolbar {
                background: #EFEFEF;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                padding-top: 20px;
                min-height: 69px;
                height: 69px;

                md-icon {
                    color: grey;
                }

                md-input-container.md-block {
                    width: 100%;
                }
            }
        }

        .step-configuration {
            pre {
                border: 1px solid #ccc;
                background: #fefefe;
                padding: 10px;
            }
        }
    }

    .status-container {
        &.status-failure {
            background: $failure-color;
            color: $failure-dark-color;
            border-left: 2px solid $failure-dark-color;
        }

        &.status-success {
            background: $success-color;
            color: $success-dark-color;
            border-left: 2px solid $success-dark-color;
        }

        &.status-running {
            background: $running-color;
            color: $running-dark-color;
            border-left: 2px solid $running-dark-color;
        }
    }
}

$loader-color: rgb(66, 133, 244);

.remote-resource {
    padding: 20px;
    text-align: center;

    &.error {
        .md-warning {
            color: orange;
        }
    }

    &.loading {
        .loader > div {
            border-top-color: $loader-color;
            border-left-color: $loader-color;
            border-right-color: $loader-color;
        }
    }
}

pre.deployment-logs {
    border: 0;
    background-color: #000;
    color: #fff;
    border-radius: 0;
}

.yaml-editor {
    min-height: 400px;
}
.yaml-editor-buttons {
    text-align: center;
    padding: 10px;
}
