{% extends "AppBundle:Account:layout.html.twig" %}
{% block account_title %}
    <h1>Connecting an account</h1>
{% endblock %}
{% block account_content %}
<form action="{{ path('hwi_oauth_connect_service', {'service': service, 'key': key}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_widget(form) }}
    <p>{{ 'connect.confirm.text' | trans({'%service%': service | trans({}, 'HWIOAuthBundle'), '%name%': userInformation.realName}, 'HWIOAuthBundle') }}</p>

    <button type="submit" class="btn btn-success">Yes, connect</button>
</form>
{% endblock %}
