{% extends "AuthBundle::layout.html.twig" %}
{% block html_attributes %} class="login"{% endblock %}
{% block body %}
<div class="login-container">
    <p><i class="icon cp-icon-logo"></i></p>

    <h3>Welcome to ContinuousPipe!</h3>

    <div class="login-inner">
        {% if error %}
        <p class="login-error">{{ error }}</p>
        {% endif %}

        <a href="{{ hwi_oauth_login_url('github') }}" class="login-button"><i class="cp-icon-github"></i> Login with GitHub</a>
    </div>
</div>
{% endblock %}
