<md-content class="form-container md-padding">
    <md-input-container class="md-block" flex-gt-xs>
        <label>Name</label>
        <input ng-model="project.name" required placeholder="My company" />
        <div class="hint">The name of your project could be your organisation or unit name.</div>
    </md-input-container>

    <md-input-container class="md-block" flex-gt-xs ng-show="hasErrored">
        <label>Unique identifier</label>
        <input ng-model="project.slug" required />
    </md-input-container>
</md-content>
<md-subheader class="md-primary" feature-flag="billing">Billing</md-subheader>
<remote-resource resource-name="billingProfiles" feature-flag="billing">
    <md-content class="form-container md-padding create-project" ng-show="billingProfiles">
            <md-content class="md-padding">
                <md-radio-group layout="row" layout-align="start center" ng-model="project.$billing.type" required>
                    <md-radio-button class="md-primary" value="new">
                        New billing profile
                    </md-radio-button>
                    <md-radio-button value="existing" ng-disabled="billingProfiles.length == 0">
                        <md-tooltip ng-if="billingProfiles.length == 0">You don't have any existing billing profile</md-tooltip>
                        Existing
                    </md-radio-button>
                </md-radio-group>
            </md-content>

            <md-content class="md-padding" ng-if="project.$billing.type == 'new'">
                <p>Select the plan that you would like to use. Your <strong>14 days of trial, without credit card required</strong> will start when you click on "Create"..</p>

                <remote-resource resource-name="plans">
                    <md-radio-group ng-model="project.$billing.plan" required layout="row">
                        <md-radio-button class="md-primary" ng-repeat="plan in plans" ng-value="plan">
                            <div class="plan">
                                <div class="name">
                                    {{ plan.name }}
                                </div>
                                <ul>
                                    <li ng-class="{'warning': plan.metrics.tides == 0}">{{ plan.metrics.tides }} deployments</li>
                                    <li ng-class="{'warning': plan.metrics.memory == 0}">
                                        <span>{{ plan.metrics.memory }} GB of memory</span>
                                    </li>
                                    <li ng-class="{'warning': plan.metrics.storage == 0}">{{ plan.metrics.storage }} GB of storage</li>
                                    <li ng-class="{'warning': plan.metrics.docker_image == 0}">
                                        <span>{{ plan.metrics.docker_image }} private docker image(s)</span>
                                    </li>
                                </ul>
                                <div class="price">
                                    £{{ plan.price }} / month
                                </div>
                            </div>
                        </md-radio-button>
                    </md-radio-group>
                    <p class="hint">You will be able to add add-ons such as deployments to your plan later to fit perfectly your requirements.</p>
                </remote-resource>
            </md-content>

            <md-content class="md-padding" ng-if="project.$billing.type == 'existing'">
                <p ng-if="billingProfiles.length === 0">You don't have any billing profile.</p>

                <md-select ng-if="billingProfiles.length > 0" ng-model="project.billing_profile" md-on-open="loadBillingProfiles()" placeholder="Select the billing profile" required>
                    <md-option ng-value="billingProfile" ng-repeat="billingProfile in billingProfiles">
                        {{ billingProfile.name }} <span ng-if="billingProfile.plan"><em>({{ billingProfile.plan.name }} plan)</em></span>
                    </md-option>
                </md-select>
            </md-content>
    </md-content>
</remote-resource>
