<div class="container">
    <div class="block-header">
        <div class="row m-t-10">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header ch-alt">
                        <h2>Users of team "{{ team.slug }}"</h2>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>Permissions</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody ng-repeat="membership in team.memberships">
                            <tr>
                                <td>{{ membership.user.username }}</td>
                                <td>{{ membership.permissions }}</td>
                                <td>
                                    <button class="btn btn-danger" ng-click="removeMembership(membership)" ng-disabled="isLoading">Remove</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header ch-alt">
                        <h2>Add a new user</h2>
                    </div>
                    <div class="card-body card-padding">
                        <form class="row" role="form" name="userForm">
                            <div class="col-sm-4">
                                <div class="form-group fg-line" ng-class="{'has-error': userForm.username.$touched && userForm.username.$invalid}">
                                    <label class="sr-only" for="usernameInput">Username</label>
                                    <input type="text" class="form-control input-sm" id="usernameInput" placeholder="Enter user username" name="username" required="required" ng-model="membership.user.username">
                                    <small class="help-block" ng-show="userForm.username.$invalid">This field is required</small>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group fg-line">
                                    <label class="sr-only" for="permissionsInput">Permissions</label>
                                    <select id="permissionsInput" class="form-control" multiple="multiple" ng-model="membership.permissions" size="2">
                                        <option>USER</option>
                                        <option>ADMIN</option>
                                    </select>
                                    <small class="help-block">Select user's permissions</small>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-primary btn-sm m-t-5 waves-effect" ng-disabled="userForm.$invalid || isLoading" ng-click="addMembership(membership)">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
