<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}HW - Discrepancies report{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('bundles/admin/css/vendor/bootstrap.min.css') }}" media="all" rel="stylesheet" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
