<div class="content" ng-click="toggleChildrenDisplay(log)">
    <div ng-if="log.status == 'running'" class="counter" log-time-counter="log"></div>
    <i class="round">
        <span ng-if="!displayChildrenOf[log._id]" class="glyphicon glyphicon-chevron-right"></span>
        <span ng-if="displayChildrenOf[log._id]" class="glyphicon glyphicon-chevron-down"></span>
    </i> {{ ::log.contents }}
</div>
<div class="children">
    <logs ng-if="displayChildrenOf[log._id]" log-id="log._id"></logs>
</div>
