<md-menu-content>
    <md-menu-item>
        <md-button ui-sref-active="selected" ui-sref="flows"><md-icon>sync</md-icon> Flows</md-button>
    </md-menu-item>
</md-menu-content>

<md-subheader class="md-no-sticky">Project</md-subheader>
<md-menu-content>
    <md-menu-item><md-button ui-sref-active="selected" ui-sref="users"><md-icon>group</md-icon> Users</md-button></md-menu-item>
    <md-menu-item><md-button ui-sref-active="selected" ui-sref="clusters"><md-icon>cloud</md-icon> Clusters</md-button></md-menu-item>
    <md-menu-item><md-button ui-sref-active="selected" ui-sref="registry-credentials"><md-icon>storage</md-icon> Registries</md-button></md-menu-item>
    <md-menu-item><md-button ui-sref-active="selected" ui-sref="configuration"><md-icon>build</md-icon> Project Configuration</md-button></md-menu-item>
</md-menu-content>

<footer class="sidenav-footer">
    <div class="sidenav-footer__content">
        <span class="sidenav-footer__copy">&copy; 2017</span>
        <a class="sidenav-footer__link" href="https://continuouspipe.io/">
        continuouspipe.io
        </a>
    </div>
</footer>
