<p><strong>run</strong><br />Run commands on the given service.</p>

<form>
    <div class="form-group fg-line">
        <label for="serviceNameImput">Docker compose service</label>
        <input type="text" ng-model="task.context.service" class="form-control input-sm" id="serviceNameImput" placeholder="Enter docker compose service name">
    </div>

    <div class="form-group fg-line">
        <label for="commandsInput">Commands</label>
        <textarea ng-model="task.context.commands" class="form-control" placeholder="Commands" id="commandsInput"></textarea>
    </div>
</form>
