<md-menu-content>
    <md-menu-item>
        <md-button ui-sref-active="selected" ui-sref="flow.tides"><md-icon>reorder</md-icon> Tides</md-button>
    </md-menu-item>
    <md-menu-item>
        <md-button ui-sref-active="selected" ui-sref="flow.environments"><md-icon>pageview</md-icon> Environments</md-button>
    </md-menu-item>
    <md-menu-item>
        <md-button ui-sref-active="selected" ui-sref="flow.configuration"><md-icon>settings</md-icon> Configuration</md-button>
    </md-menu-item>
</md-menu-content>
