<div class="tabs-toolbar" ng-class="{'open' : toggle}">

    <button class="tabs-menu-btn" ng-click="toggle = !toggle" ng-class="{'open' : toggle}">
        <div></div>
        <span>MENU</span>
    </button>

    <ul class="tabs">
        <li class="tab">
            <a ng-click="toggle = !toggle" ui-sref-active="selected" ui-sref="flow.dashboard"><md-icon>dashboard</md-icon> <span>Overview</span></a>
        </li>
        <li class="tab">
            <a ng-click="toggle = !toggle" ui-sref-active="selected" ui-sref="flow.tides"><md-icon>reorder</md-icon> <span>Tides</span></a>
        </li>
        <li class="tab">
            <a ng-click="toggle = !toggle" ui-sref-active="selected" ui-sref="flow.environments"><md-icon>pageview</md-icon> <span>Environments</span></a>
        </li>
        <li class="tab">
            <a ng-click="toggle = !toggle" ui-sref-active="selected" ui-sref="flow.branches"><md-icon>call_split</md-icon> <span>Branches</span></a>
        </li>
        <li class="tab">
            <a ng-click="toggle = !toggle" ui-sref-active="selected" ui-sref="flow.development-environments"><md-icon>computer</md-icon> <span>Development</span></a>
        </li>
        <li class="tab">
            <a ng-click="toggle = !toggle" ui-sref-active="selected" ui-sref="flow.configuration"><md-icon>settings</md-icon> <span>Configuration</span></a>
        </li>
    </ul>
</div>
<md-content ui-view="content" class="content"></md-content>
